.success-modal {
  pointer-events: none;
  transform: translateY(-100px);

  :global {
    .ant-modal-content {
      background: transparent;
      box-shadow: none;
      pointer-events: none;
    }
  }
}

.compare-field {
  display: flex;

  :global {
    .ant-radio-input,
    .ant-radio-inner {
      display: none;
    }

    .ant-radio-wrapper {
      border: 1px transparent solid;
      padding: 24px;
      border-radius: 8px;
      transition: all 0.3s ease-out;

      &.ant-radio-wrapper-checked {
        border-color: var(--primary-color);
        box-shadow:
          #ffffff 0 0 0 0,
          #ffffff 0 0 0 0,
          #ffffff 0 0 0 0,
          #ffffff 0 0 0 0,
          rgba(0, 0, 0, 0.1) 0 8px 32px 0,
          rgba(255, 255, 255, 0.1) 0 1px 20px 0 inset;
      }
    }
  }
}
